body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: clamp(26px, 4.33vw, 52px);
}
h2 {
  text-transform: uppercase;
  font-size: clamp(26px, 1em, 52px);
  font-weight: 600;
  line-height: 120%;
}
h3 {
  font-size: clamp(18px, 0.65em, 34px);
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}
.container {
  width: 100%;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  .try__now__btn {
    padding: 16px 34px;
    font-size: 18px;
  }
}
.nav__menu {
  width: 100%;
  max-width: 361px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  width: 100%;
  max-width: 180px;
  justify-content: space-between;
}
.nav__item {
  a {
    text-decoration: none;
  }
}
.try__now__btn {
  font-size: 24px;
  display: flex;
  padding: 20px 100px;
  border-radius: 5px;
  background: #00c;
  color: #fff !important;
  text-decoration: none;
  justify-content: center;
}

// Секция main
.main {
  background: #689ff5;
  color: #fff;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}
.main__content {
  position: relative;
}
.main__text {
  margin-top: 38px;
  max-width: 690px;
  width: 100%;
  padding-left: 8px;
}
h1 {
  font-size: clamp(30px, 8.3vw, 62px);
  font-weight: 600;
  line-height: 120%; /* 74.4px */
  text-transform: uppercase;
}
.text__bottom {
  max-width: 527px;
  width: 100%;
  font-size: clamp(16px, 3.2vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  margin-top: 20px;
  display: block;
}
.city_map {
  position: absolute;
  width: fit-content;
  right: 14px;
  bottom: -114px;
}
@keyframes pointers {
  50% {
    top: -11.78%;
  }
  100% {
    top: -8.12%;
  }
}
.city__pointers {
  position: absolute;
  top: -8.12%;
  left: 32.08%;
  animation: pointers 1.2s linear infinite;
}
.arrow__wrapper {
  flex: 1;
  display: flex;
  align-items: end;
}
.arrow__down {
  display: block;
  margin: 0 auto;
  width: fit-content;
  transform: translateY(60%);
}

/* Гамбургер*/
#hamburger__menu {
  display: none;
  z-index: 1000;
  position: absolute;
}
#menu__toggle {
  opacity: 0;
}
#menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: fixed;
  top: 18px;
  right: 24px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
#menu__btn > span,
#menu__btn > span::before,
#menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #00c;
  border-radius: 2px;
}
#menu__btn > span::before {
  content: "";
  top: -8px;
}
#menu__btn > span::after {
  content: "";
  top: 8px;
}
#menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 147px 18px;
  list-style: none;
  text-align: start;
  background: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  text-align: end;
} /* элементы меню */
.menu__item {
  display: block;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
#menu__box > :not(:first-child) {
  margin-top: 40px;
}
#menu__toggle {
  position: fixed;
}
#menu__toggle:checked ~ #menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ #menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ #menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ #menu__box {
  visibility: visible;
  left: 0;
}
#menu__btn > span,
#menu__btn > span::before,
#menu__btn > span::after {
  transition-duration: 0.25s;
}
#menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
/* Гамбургер окончание */

.try__btn__wrap {
  height: 100%;
  display: flex;
  align-items: end;
  .try__now__btn {
    width: 100%;
    justify-content: center;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.arrow__down {
  clip-path: polygon(0% 0%, 50% 18%, 100% 0%, 50% 100%);
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 70px;
}
// Окончание main

// Секция About
.about {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 84px;

  .text__wrapper {
    max-width: 658px;
  }
}

.blue {
  color: #00c;
}
.lightblue {
  color: #689ff5;
}
.span__bottom {
  font-size: clamp(14px, 0.35em, 18px);
  font-weight: 500;
  margin-top: 18px;
  line-height: 1.4;
}
// Окончание секции About

// Секция DidyouKnow
.didyouknow {
  background: #689ff5;
  padding: 73px 0;
  color: #fff;
  line-height: 0.53em;
  font-size: clamp(18px, 2.36vw, 34px);
  .lamp {
    width: 100%;
    max-width: 488px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    .lamp__top {
      position: absolute;
      left: 7px;
      top: -5px;
      opacity: 0;
      transition: ease-in-out 0.3s;
    }
    left: 0;
    top: 0;
    .lamp__wrapper {
      position: relative;
      width: 48px;
      height: 49px;
    }
  }
  .fact {
    white-space: nowrap;
  }
  h3 {
    font-family: Rubik;
    font-weight: 900;
    font-size: 1em;
    line-height: 1.5;
  }
  &:hover {
    .lamp__top {
      opacity: 1;
    }
  }
  .fact__text {
    font-size: clamp(12px, 0.53em, 18px);
    font-weight: 500;
  }
  .number {
    font-weight: 700;
  }
}

.didyouknow__inner {
  display: flex;
  align-items: center;
}

// Окончание секции DidyouKnow

// Секция Location
.location {
  font-size: 34px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  // margin: 100px 0 200px;
  margin-top: 100px;
  margin-bottom: 200px;
  font-size: clamp(18px, 2.36vw, 34px);
}
// Окончание секции Location

// Секция offer
.offer{
  width: fit-content;
  .try__now__btn{
    width: fit-content;
    margin-top: 38px;
    padding: 23px 95px;
  }
}
.offer__wrap {
  display: flex;
  padding: 0 15px;
  margin-bottom: 72px;
}
.leftside {
  width: 100%;
  max-width: 488px;
  margin-right: 20px;
}
.rightside {
  width: 100%;
  max-width: 692px;
}
.offer__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  color: #fff;
  justify-content: center;
}
.offer__item {
  background: #689ff5;
  padding: 15px 40px 27px 22px;
  border-radius: 10px;
  width: 386px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  img {
    width: fit-content;
    position: absolute;
  }
  h3 {
    margin-top: 161px;
    text-transform: none;
    margin-left: 19px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 40px;
    margin-left: 19px;
    // max-width: 311px;
  }
}

@media (max-width: 1199px) {
  .main__content {
    display: flex;
    gap: 85px;
    flex-direction: column;
    align-items: center;
  }
  .main__text {
    padding-left: 0;
  }
  .city_map {
    position: relative;
    right: 0;
    bottom: 0;
  }
  .city {
    width: 100%;
  }
  .city__pointers {
    width: 42.83%;
  }
}
@media (max-width: 991px) {
  .about {
    flex-direction: column;
    padding-top: 80px;
    gap: 20px;
  }
}
@media (max-width: 575px) {
  #hamburger__menu {
    display: block;
  }
  .nav__menu {
    display: none;
  }
  .logo__img {
    width: 132px;
    height: 49px;
  }
  .main {
    padding-top: 56px;
  }
  .arrow__down {
    width: 45px;
    height: 50px;
  }
  .span__bottom {
    margin-top: 11px;
  }
  .about {
    padding-bottom: 41px;
  }
  .didyouknow__inner {
    flex-direction: column;
    .lamp {
      margin-right: 0;
    }
    padding: 0 26px;
    align-items: flex-start;
    gap: 30px;
  }
  .didyouknow {
    // padding: 26px 0;
    padding-top: 26px;
    padding-bottom: 30px;
    .lamp {
      gap: 0;
      .lamp__wrapper,
      .lamp__bottom {
        width: 28px;
        height: 28px;
        margin-right: 10px;
      }
      .lamp__top {
        left: 5px;
      }
    }
    .fact {
      white-space: normal;
    }
  }

  .lamp__top {
    width: 20px;
    height: 20px;
  }
  .location {
    margin-top: 40px;
    margin-bottom: 78px;
  }
  .offer{
    .try__now__btn{
      width: 100%;
    }
  }
  .offer__wrap {
    flex-direction: column;
    gap: 19px;
    padding: 0;
    margin-bottom: 40px;
    .span__bottom {
      margin-top: 8px;
      line-height: 1.2;
    }
  }
  .offer__list {
    gap: 10px;
  }

  .offer__item {
    width: fit-content;
    h3 {
      font-size: 26px;
      line-height: 1.2;
      margin-top: 121px;
    }
    p {
      font-size: 14px;
      margin-top: 49px;
    }
    img {
      width: 100px;
      top: 9px;
      left: 26px;
    }
    min-height: 360px;
    .result__img {
      width: 113px;
    }
  }
}
